$color-brown: #a67744;
$color-green: #547665;
$color-blue: #354e57;
$color-white: #eef3f4;
$color-white-darker: #e3ebec;
$color-white-darkest: #d7e0e1;
$color-white-true: #fff;
$color-black: #12191C;
$color-grey-light: #d9d9d9;
$color-grey: #aaa;

$font-pri: sans-serif;

$font-size-button: 1rem;

$title-lg: 4rem;
$title-md: 3rem;
$title-sm: 2rem;

$text-xl: 2rem;
$text-lg: 1.5rem;
$text-md: 1rem;

$border-rnd-lg: 15px;
$border-rnd-md: 10px;
$border-rnd-sm: 5px;
$border-rnd-full: 50%;