.builder-drop-zone {
  //height: 50vh;
  min-width: 20%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  overflow: hidden;
  color: $color-grey-light;
  font-size: 20px;
  border: 2px dashed $color-grey-light;
  border-radius: $border-rnd-lg;
  margin-bottom: 10vh;

  &.block-hovering {
      color: $color-grey;
      border: 2px dashed $color-grey;
  }
}